
.card-show{
    margin-right: 100px;
}
.card{
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.card:hover{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);;
}
.hide-box{
    display: none;
}
.lbl-radio{
    cursor: pointer;
}
input[type=radio]:checked + .lbl-radio .card{
    border: 3px solid #3413d8;
    border-radius: 7px;
}
label .card{
    margin-top: 25px;
}
